* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  color: #1e1b4b;
  background: #f0f0f0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul { 
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background:#ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  width: 40px;
  height: 30px;
  border-radius: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:16px 24px;
}
.nav-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  gap: 24px;
  margin-left: 500px;
}
.nav-links a:hover {
  color:#4f46e5;
}
.btn-outline {
  background-color:transparent;
  color: black;
  padding: 10px 22px;
  border-radius: 8px;
  border: 2px solid #4f46e5;
  font-size: 14px;
  font-weight: 600;
margin-left: 30px;
}
.btn-outline:hover {
  background-color: #4f46e5;
}
.btn-primary {
  background-color: transparent;
  color:black;
  border-radius: 8px;
  padding: 10px 22px;
  border: 2px solid #4f46e5;
  font-size: 14px;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #4f46e5;
}
.hero-section {
  background: linear-gradient();
  padding: 10px 10px 10px 10px;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.hero-left {
  flex: 1;
}
.hero-badge {
  background-color: #4f46e5;
  color: #000000;
  padding: 6px 16px;
  border-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 40px;

  border-radius: 20px;
}
.h1 {
  font-size: larger;
  color: #656569;
  line-height: 5px;
   font-weight: bold;
  margin-bottom: 10px;
}
.p {
  font-size: large;
  color: #656569;
  line-height: 50px;
  margin-bottom: 20px;
}
.hero-cta {
  display: inline-block;
   background-color: #4f46e5;
  color: white;
  font-size: larger;
  padding: 10px;
  border: 2px solid #333;
  font-weight: bold;
}
.Trust-text {
  font-size: smaller;
  color: #444;
  margin-top: 30px;
}
.hero-right {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  max-width: 560px;
  border-radius: 100%;
  box-shadow: #000000;
}
.stats-bar {
  background-color: #f8fafc;
  padding: 40px 24px;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
}
.stats-container {
  display: flex; 
  flex:1;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  margin: auto;
}
.status-item {
  text-align: center;
  padding: 20px 0;
;
}
.status-item h3 {
  font-size: 40px;
  font-weight: 800;
  color: #4f46e5;
  background-color: #F8FAFC;
}
.status-item p {
  font-size: 20px;
  color: black;
  margin-top: 4px;
  font-size: small;
}
.features-section {
  background-color: white;
  padding: 80px 24px;
}
.features-header {
  text-align: center;
  margin-bottom:50px;
}
.features-header h2 {
  font-size:36px;
  font-weight:800;
  color:#1E1B4B ;
  margin-bottom: 12px;
}
.features-header p {
  font-size: 16px;
  color: #64748b;
}
.features-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin:0 auto;
}
.feature-card {
  background-color: white;
  border-radius: 16px;
  padding:40px 30px;
  box-shadow: 0px 4px 20px  rgba(0,0,0,0,0.08);
  text-align: center;
  flex: 1;
  max-width: 300px;
  transition: all 0.3s ease;
}
.feature-icon img{
  object-fit: contain;
  background: transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;

}
.feature-card:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  transform: translateY(-5px);
}

.feature-card h3{
margin-bottom: 12px;
color: #1E1B4B;
font-size: 20px;
font-weight: 700;
}
.feature-card p{
  line-height: 1.7;
  color: #64748b;
  font-size: 15px;
}
/*How it works section*/
 .how-it-works{
  background:#F8FAFC;
  padding: 80px 24px;
 }
   .how-it-work-header{
    text-align: center;
    margin-bottom: 50px;
    & h2{
      font-size: 36px;
      font-weight: 700;
      color: #1E1B4B;
      margin-bottom: 12px;
    }
    & p{
      font-size:16px ;
      color: #64748b;
    }
 }
 .steps-container{
  display: flex;
  margin:0 auto;
  justify-content: center;
  gap:30px;
  max-width: 1200px;
  flex-wrap: nowrap
  align-items:flex-start;
 }
 .step-card{
  background-color: #ffffff;
  border-radius: 16px;
  padding: 40px 30px;
  text-align: center;
  flex: 1;
  max-width: 300px;
  box-shadow: 0 4px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  & h3{
    font-size: 20px;
font-weight: 800;
color: #1E1B4B;
margin-bottom: 12px;
  }
& p{
  line-height: 1.7;
  font-size: 15px;
  color: #64748b;
}
  
}
 .step-number{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin:0 auto;
  margin-bottom: 20px;

}
.testimonials-section{
  background-color: lightgray;
  padding:80px 24px ;
} 
.testimonials-header{
  text-align: center;
  margin-bottom: 50px;
  & h2{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 12px;
    color: #1E1B4B;
  }
  & p{
    color: #656569;
    font-size: 16px;
  }
}
.testimonials-grid{
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin:0 auto;
}
.testimonial-card{
  background-color: white;
  border-radius: 16px;
  padding:40px 30px;
  box-shadow: 0px 4px 20px  rgba(0,0,0,0,0.08);
  flex: 1;
  max-width: 350px;
  transition: all 0.3s ease;
}
.stars{
  margin-bottom: 20px;
  color: #F59E0B;
  & p{
    font-size: 30px;
    line-height: 1.7;
    font-style: italic;
    margin-bottom: 36px;
  }
}
.person{
  align-items: center;
  display: flex;
  gap: 10px;
  & img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    object-fit: cover;
  }
  & h4{
    font-size: bold;
    color:#4f46e5;
  }
  & p{
    color:#656569;
    font-size: small;
  }
}
.cta-section{
  background-color: #B5BBC9;
  padding: 80px 24px;
  text-align: center;
   & h2{
font-size:36px ;
font-weight: 800;
margin-bottom: 12px;
   color: white;
}
& p{
  display: block;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color:rgba(255,255,255,0.8);
  font-size:16px ;
  margin-bottom: 20px;
}
& a{
  background-color: white;
  color: purple;
  padding: 14px 32px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: large;
}
  & a:hover{
    background-color: #D6E6F2;
  }
  }
  .footer{
background-color: #585E6C;
padding: 10px 24px;
color: white;
  }
  .footer-top{
    display: flex;
  justify-content: space-between;
    max-width: 800;
    margin: 0 auto;
  }
  .footer-col{
    flex: 1;
    & h4{
      color: black;
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 36px;
    }
    & a{
      color: white;
    display: block;
      margin-bottom: 12px;
      margin-left: 12px;
    }
    & a:hover{
      color:#4f46e5;
    }
    & img{
      width: auto;
      height: 40px;
      background: transparent;}
  }
  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #334155;
    & p{
      border-top: 1px solid #334155;
      padding-top: 20px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
   }
   /*login.html*/
   .login-section{
    background-color: #F1F5FF;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
   }
   .login-card{
    background-color: white;
    border-radius:10px;
    padding: 40px;
    box-shadow:0px 4px 20px rgba(0,0,0,0.1);
    width: 400px;
    max-width: 90%;
    & h1{
      font-size: large;
      font-weight: bold;
      margin-bottom: 20px;
      letter-spacing: 0.5px;
      color:#4f46e5;
    }
    & p{
      color: #334155;
      margin-bottom: 25px;
    }
   }
.form-group{
  margin-bottom: 20px;
  & a{
    display: block;
    text-align: right;
    margin-top: 6px;
    font-size: 13px;
  }
}
label{
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color:#1E1B4B;
}
input{
  display: block;
  margin-bottom: 8px;
  width:100%;
  padding: 12px;
  border: 1px solid #E2E8F0;
  box-sizing: 20px;
  border-radius: 8px;
  font-size: 15px;
  border: 2px solid #4f46e5;
  color:#000000;
  & a{
    transition: 0.3s ease;
  }
}
button{
  width:100%;
  & .btn-primary{
    width:100%;
  }
  & a{
    transition: 0.3s ease;
  }
}
/*dashboard.html*/
.dashboard-body{
  display: flex;
}
.sidebar{
  width: 240px;
  min-height: 100vh;
  background-color: #334155;
  padding: 24px;
  position: fixed;
  & nav ul{
    list-style: none;
    margin-top: 40px;
  }
  & nav ul li{
    margin-bottom: 16px;
  }
  & nav ul li a{
    color: wite;
    font-size: 15px;
    opacity: 0.7;
  }
  & ul nav li a:hover{
    opacity:1;
  }
  & a{
    display: block;
    padding:12px 15px;
    color:#334155;
    text-decoration: none;
    border-radius: 8px;
  }
  & a.active{
    background-color: #e8eafc;
    color: #4f46e5;
  }
}
.sidebar-logout{
  margin-top: 40px;
  & a{
    color: #e5e7eb;;
   opacity: 1;
  }
}
.dashboard-main{
  margin-left: 240px;
  padding: 24px;
  background-color: #F8FAFC;
  min-height: 100vh;
  flex:1;
}
.sidebar-logo img{
  height: 40px;
}
  .topbar{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
  }
  .profile-icon{
    width: 40px;
    height: 40px;
    background-color: #4f46e5;
    border: radius 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
   }
   .stats-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 18px;
    margin: 20px 0;
   }
   .stat-card{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    flex:1;
    border: 1px solid #e2e8f0;
    & p{
      font-size: 13px;
      margin-bottom: 8px;
      color: #64748b;
      font-weight: 800;
      border-radius: 8px;
      box-shadow: 2px solid blue;
    }
    & h3{
      font-size: 24px;
      font-weight: 800;
      color: #1E1B4B;
    }
}
.chart-placeholder{
  min-height: 220px;
  background-color: white;
  box-shadow: 1px solid #e2e8f0;
  border-radius: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#94a3b8;
  margin-top: 15px;
}
.recent-invoices{
background-color: white;
padding: 24px 16px;
border-radius: 12px;
box-shadow: 0 2px 10px rgba(0,0,0,0.08);
& h3{
  margin-bottom: 24px;
  color: #1E1B4B;
}
}
table{
  width: 100%;
  border-collapse: collapse;
}
th{
  text-align: left;
  padding: 12px;
  font-size: 13px;
  color: #000000;
  border-bottom: 1px solid #E2E8F0;
  font-weight: bold;
}
tr{
  padding: 12px;
  font-size: 14px;
  color:#1E1B4B;
  border-bottom: 1px solid #F1F5F9;
}
.status{
  padding:5px 10px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}
.paid{
  background: #dcfce7;
  color:#15803d;
}
.pending{
  background: #fef3cf;
  color: #b45309;
}
.overdue{
  background:#fee2e2 ;
  color:#dc2626; 
}
/*invoices.html*/ 
.filter-bar{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px;
  font-size:20px;
  color: #4f46e5;
  border-bottom: 1px solid #E2E8F0;
  font-weight: bold;
  gap:20px;
}
/*Responsive Design for mobile*/
@media (max-width:600px) {
  header{
    padding:15px;
  }
   nav{
    display :flex;
    flex-direction: column;
    gap:20px;
   }
   .logo{
    margin-left:0 auto;
  }
  .nav-links ul {
    flex-direction: column;
    padding:10px;
    gap: 15px;
    margin-bottom: 0;
  }
  .buttons{
    display: flex;
    gap: 10px;
  }
  .btn-outline, .btn-primary{
    margin-left: 0;
    padding:8px 14px;
    }
    .hero-section{
      padding:40px 20px;
    }
  .hero-content {
    flex-direction: column;
    gap:30px;
  }
  .hero-left h1{
    font-size: 32px;
    line-height: 1.6;
  }
  .hero-left p{
    font-size: 16px;
    line-height: 1.6;
  }
  .hero-badge{
    font-size: 12px;
    padding: 4px 12px;
    height:auto;
  }
  .hero-right img{
    width: 100%;
    height:auto;
  }
  .stats-container {
    flex-direction: column;
    gap: 20px;
  }
  .features-grid, .testimonials-grid, .steps-container {
    flex-direction: column;
    align-items:center;
  }
  .features-section, .testimonials-section, .how-it-works, .cta-section {
    padding: 50px 20px;
  }
  .features-header h2, .testimonials-header h2, .how-it-work-header h2, .cta-section h2 {
    font-size: 28px;
  }
  .feature-card, .testimonial-card, .step-card {
    max-width: 100%;
    max-width: 100%;
  }
  .footer-top {
    flex-direction: column;
    gap:30px;
  }
  .footer-bottom{
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
/*Responsive Design for tablets*/
@media(max-width:900px) {
  header{
    padding: 15px 20px;
  }
  nav{
    width: 100%;
  }
  .nav-links ul {
    gap: 25px;
    margin-bottom: 20px;
  }
  .buttons{
    gap: 15px;
  }
  .btn-outline, .btn-primary{
    padding: 8px 16px;
  } 
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
  .hero-left, .hero-right {
    width: 100%;
    max-width: 100%;
  }
  .hero-right img {
    width: 100%;
    height: auto;
  }
  .stats-container {
    gap: 40px;
  }
  .features-grid, .testimonials-grid, .steps-container {
    flex-wrap: wrap;
  }
  .feature-card, .testimonial-card, .step-card {
    max-width: 45%;
  }
  .footer-top {
    flex-wrap: wrap ;
    gap: 30px;
  }
}  